@using front_to_back.Areas.Admin.ViewModels
@model ContactIntroComponentViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Categories</h4>
                        <a class="btn btn-main" asp-action="create" asp-controller="contactintrocomponent" asp-area="admin">CREATE ContactIntro</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>DEscription</th>
                                        <th>Filepath</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <td>@Model.ContactIntroComponent.Id</td>
                                <td>@Model.ContactIntroComponent.Title</td>
                                <td>@Model.ContactIntroComponent.Description</td>
                                <td>@Model.ContactIntroComponent.FilePath</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>